<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="./angular-1.7.9/angular.js"></script>
    <title>AngularJS Lista Telefonica</title>
    <style>
        .jumbotron {
            width: 40%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4%;
        }
        table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        .selecionado {
            font-weight: bold;
            background-color: cornsilk;
        }
    </style>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "999999900", cor: "blue"},
                {nome: "Ana", telefone: "999999911", cor: "red"},
                {nome: "Francisco", telefone: "999999922", cor: "green"},
                {nome: "João", telefone: "999999933", cor: "gray"}
            ];
            $scope.operadoras = [
                {nome: "Oi", id: 1, categoria: "Celular"},
                {nome: "Claro", id: 2, categoria: "Celular"},
                {nome: "Vivo", id: 3, categoria: "Celular"},
                {nome: "Tim", id: 4, categoria: "Fixo"},
                {nome: "Nextel", id: 4, categoria: "Fixo"},
            ];
            $scope.adicionarContato = function(contato) {
                $scope.contatos.push(contato);
                delete $scope.contato;
            };
            $scope.classe = "selecionado";
            $scope.apagarContato = function(contatos) {
                $scope.contatos = contatos.filter(function(contato) {                    
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isSelecionado = function(contatos) {
                return contatos.some(function(contato) {
                    return contato.selecionado;
                });
            }
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <table class="table table-striped" ng-show="contatos.length > 0">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th></th>
            </tr>
            <tr ng-repeat="contato in contatos" ng-class="{selecionado: contato.selecionado}">
                <th><input type="checkbox" ng-model="contato.selecionado"></th>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 15px; height: 15px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>  
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>     
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" ng-show="isSelecionado(contatos)">Apagar contato</button>    
    </div>
    <div ng-include="'./footer.html'"></div>
</body>
</html>